@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    color:#3a3a3a;
}

/* Heading and logo */

h1, h2, h3 {
    font-family: 'amatic sc', sans-serif;
    font-size: 180%;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #252525;
}

#logo {
    float: left;
    font-size: 400%;
}


/*navigation links*/
#menu {
    letter-spacing: 4px;
    margin-right: 10px;
    font-size: 150%;
    color: #252525;
}

#menu h1, logo {
    line-height: 50px;
    color:inherit;
}

#menu li {
    float: right;
    padding: 5px;
    list-style-type: none;
    margin-right: 30px;
}

#menu h3 {
    font-size: 75%;
    letter-spacing: 1px;
    text-align: center;
    color: inherit;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover, #menu .active {
    color:#888787;
}


/* hero image*/
#hero-section {
    position: relative;
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    background: url(../images/pexels-cottonbro-7207757.jpg) no-repeat center center;
    background-size: cover;
    clear: both;
    height: 800px;
    width: 100%;
}

.hero-text {
    color: fff;
    font-size: 120%;
    font-family: 'Amatic sc', sans-serif;
    text-align: center;
    
}

#hero-yellow {
    width: 300px;
    height: 100px;
    
    padding: 20px;


    background-color: rgba(220, 205, 116, .7);

    bottom: 150px;
    right: 400px;
    position:absolute;
}

#hero-blue {
    width: 300px;
    height: 100px;
    
    padding: 20px;

    background-color: rgba(30, 163, 225, .7);

    bottom: 100px;
    right: 100px;
    position:absolute;
}

#hero-pink {
    width: 200px;
    height: 50px;
    
    padding: 20px;

    background-color: rgba(	212, 87, 103, .7);

    bottom: 30px;
    right: 300px;
    position:absolute;
    text-transform: capitalize;
    font-size: 200%;
}

/* introduction */

#intro {
    height: 800px;
    width: 100%;
    clear:both;
}
#intro-inner {
    height: 200px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 300px;
    padding-bottom: 300px;
}
#intro-inner p {
    text-align: center;
    font-family: 'Open Sans', sans-serif ;
    font-size: 200%;
}
#intro h2 {
    font-size: 300%;
}
/* reasons to join*/

#reasons-picture {
    height: 700px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position:middle;
}
.reasons {
    width: 25%;
    height: 300px;
    
    padding: 30px;
    margin: 50px 50px 0px 50px ;
 }
hr {
    padding:10px;
    border-top: 1px solid #3a3a3a;
    width: 75%;
}
.reasons p {
    font-size: 150%;
    font-family: 'Open sans', sans-serif ;
    text-align: left;
    margin-left: 5px;
    line-height:150%;
    padding-top: 20px;
}
.reasons h2 {
    text-align: left;
}
.face_outher{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: solid;
    border-radius: 50%;
    border-color: #3a3a3a;
    float: left;
}

#reasons-kid {
    background-color: rgba(220, 205, 116, .7);
    margin-left: 20%;
    z-index: 1;
}
#kid-face {
    background: url(/assets/images/facekid.jpg) center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#reasons-parent {
    background-color: rgba(30, 163, 225, .7);
    /* margin-top: 200px; */
    /* float: right; */
    position: relative;
    top: -175px ;
    left: 45%;

    z-index: 2;
}
#parent-face {
    background: url(/assets/images/faceparent.jpg) center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}
#parent-face_outher {
    float: left;
}    

#reasons-community {
    background-color: rgba(	212, 87, 103, .7);
    position: relative;
    top:-250px;
    left: 25%;
    z-index: 3;
}
#community-face_outher {
    float: left;
}
#community-face {
    background: url(/assets/images/community.jpg) center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

/*map*/
#map {
    text-align: center;
}
#map_img {
    height: 500px;
    width: 400px;

}

#map_iframe {
    width: 40%;
    height: 500px;
    margin-left: 10px;
    margin-right: 10px;
}

#map_div {
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    padding-bottom: 20px;
}

#map_div  p {
    font-size: 150%;
}

